@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
body {
  font-family: "Mulish", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}
img {
  width: 100%;
  display: block;
}
a {
  text-decoration: none;
}

p {
  color: #7d7987;
  line-height: 25px;
}

.section__title {
  margin: 30px auto;
  width: 90%;
  text-align: center;
}
.section__title h2 {
  font-size: 40px;
  margin-bottom: 70px;
  position: relative;
}

.section__title h2::after {
  content: "";
  height: 2px;
  width: 10%;
  background-color: black;
  display: inline-block;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section__title p {
  margin: 40px;
}
/* header */

.header {
  padding: 30px 0;
  overflow: auto;
}

.header .header__logo img {
  width: 120px;
  display: inline-block;
}

.header .header__links {
  float: right;
}

.header .header__links {
  list-style: none;
}

.header .header__links li {
  display: inline-block;
  margin: 10px;
  line-height: 12px;
}

.header .header__links li a {
  color: #1f1534;
  font-size: 13px;
}

.header .header__links li a:active {
  font-weight: 700;
}
.header .header__links li .active {
  font-weight: 700;
}

/* hero */

.hero {
  width: 100%;
  background-image: url(/assets/imgs/element.png);
  background-position: top left;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  overflow: auto;
}

.hero .hero__content {
  width: 40%;
  float: left;
  margin-top: 90px;
}

.hero .hero__content h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero .hero__content p {
  margin-bottom: 35px;
}

.hero .hero__content a {
  color: white;
  background-color: #458ff6;
  padding: 13px 20px;
  border-radius: 25px;
}

.hero .hero__img {
  width: 50%;
  float: right;
}

/* services */
.services {
  overflow: auto;
  padding-bottom: 100px;
  background-image: url(/assets/imgs/bg\ element.png);
  background-position: top left;
  background-repeat: no-repeat;
}

.services .services__content {
  overflow: auto;
  background-image: url(/assets/imgs/element.png);
  background-position: right;
  background-repeat: no-repeat;
}

.services__content .service {
  width: 30%;
  height: 280px;
  padding: 15px 30px;
  background-color: white;
  border-radius: 20px;
  margin: 20px 10px;
  float: left;
}

.service .service__img {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  text-align: center;
}
.service .service__img img {
  object-fit: contain;
  height: 100%;
}
.service .service__content {
  width: 100%;
  height: 50%;
}

.service .service__content h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 20px 0;
}

.service .service__content p {
  font-size: 13px;
  margin: 10px 0;
}

/* .services__content div:first-child .service__img,
.services__content div:nth-child(5) .service__img {
  width: 90px;
} */

.services .services__btn {
  color: #458ff6;
  width: 150px;
  background-color: white;
  padding: 13px 30px;
  border: 1.5px solid #458ff6;
  border-radius: 25px;
  display: block;
  margin: 0 auto;
}

/* health-care */

.health-care {
  padding: 25px 0;
  overflow: auto;
}

.health-care .health-care__img {
  width: 50%;
  float: left;
}

.health-care .health-care__content {
  width: 40%;
  float: right;
  margin: 90px 0;
}

.health-care__content h2 {
  font-size: 32px;
  margin-bottom: 20px;
  position: relative;
}

.health-care__content h2::after {
  content: "";
  height: 2px;
  width: 15%;
  background-color: black;
  display: inline-block;
  position: absolute;
  bottom: -15px;
  left: 0;
}

.health-care__content p {
  line-height: 32px;
  margin: 40px 0;
}

.health-care__content a {
  color: #458ff6;
  background-color: white;
  padding: 13px 30px;
  border: 1.5px solid #458ff6;
  border-radius: 25px;
}

/* mobile app */

.mobile-app {
  padding: 25px 0;
  overflow: auto;
}

.mobile-app .mobile-app__img {
  width: 50%;
  float: right;
}

.mobile-app .mobile-app__content {
  width: 40%;
  float: left;
  margin: 90px 0;
}

.mobile-app__content h2 {
  font-size: 32px;
  margin-bottom: 20px;
  position: relative;
}

.mobile-app__content h2::after {
  content: "";
  height: 2px;
  width: 15%;
  background-color: black;
  display: inline-block;
  position: absolute;
  bottom: -15px;
  left: 0;
}

.mobile-app__content p {
  line-height: 32px;
  margin: 40px 0;
}

.mobile-app__content a {
  color: #458ff6;
  background-color: white;
  padding: 13px 30px;
  border: 1.5px solid #458ff6;
  border-radius: 25px;
}

.mobile-app__content a i {
  margin: 0 5px;
  font-size: 0.9rem;
}

/* blogs */
.blogs {
  padding: 50px 0;
  overflow: auto;
  background: url(../imgs/element.png);
  background-repeat: no-repeat;
  background-position: 5% 60%;
}

.container .blog-card {
  overflow: auto;
  width: 100%;
  background: url(../imgs/Group1.png),
    linear-gradient(to top right, #5a98f2, #67c3f3);
  background-repeat: no-repeat;
  background-position: 105% 4%;
  border-radius: 15px;
  padding: 60px 25px;
  text-align: center;
}

.blog-card .title {
  color: white;
  position: relative;
  margin-bottom: 50px;
  font-size: 25px;
}
.blog-card .title::after {
  content: "";
  height: 2px;
  width: 7%;
  background-color: white;
  display: inline-block;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blogs__content .user {
  float: left;
  width: 40%;
  padding: 0 45px;
}

.blogs__content .user .user__img {
  width: 40%;
  float: left;
  border: 4px solid white;
  border-radius: 50%;
}
.blogs__content .user .user__info {
  float: right;
  width: 50%;
  padding: 40px 0;
  color: white;
}
.blogs__content .user .user__info h4 {
  font-size: 17px;
  font-weight: 600;
  text-align: left;
}

.blogs__content .user .user__info p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.847);
  text-align: left;
}

.blogs__content .comment {
  float: right;
  text-align: left;
  width: 40%;
  margin: 20px 50px;
}

.blogs__content .comment p {
  line-height: 30px;
  color: rgba(255, 255, 255, 0.749);
  font-size: 15px;
}

.blogs .arrow-index {
  margin: 20px auto;
  text-align: center;
  overflow: auto;
}
.blogs .arrow-index button {
  border: none;
  background-color: white;
  margin: 0 60px;
}

.blogs .arrow-index i {
  color: #5b9af37f;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s ease-in-out;
}
.blogs .arrow-index button:hover i {
  color: #5b9bf3;
}

.blogs .arrow-index .bullet {
  background-color: #5b9af37f;
  border-radius: 50%;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 2px 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.blogs .arrow-index .bullet:hover {
  background-color: #5b9bf3;
}
.blogs .arrow-index .active-bullet {
  background-color: #5b9bf3;
}
.blogs .arrow-index .active-arrow {
  color: #5b9bf3;
}

/* articles */

.articles {
  padding: 50px 0 100px;
  background-image: url(../imgs/Vector1.png), url(../imgs/element.png),
    url(../imgs/element.png);
  background-repeat: no-repeat;
  background-position: right, 7.5% 20%, 15% 20%;
}
.articles .articles__container {
  overflow: auto;
}

.articles .articles__container .article {
  width: 33%;
  float: left;
  padding: 0 15px;
}
.articles__container .article .article__card {
  background-color: white;
  border-radius: 15px;
  overflow: auto;
}

.articles__container .article .article__img {
  width: 100%;
  margin-bottom: 20px;
}

.articles__container .article .article__desc {
  width: 90%;
  padding: 0 20px 20px;
}

.article .article__desc h4 {
  font-weight: 700;
  margin-bottom: 10px;
}
.article .article__desc p {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 15px;
}

.article .article__desc a {
  color: #5b9bf3;
  font-size: 14px;
  font-weight: 600;
}
.article .article__desc a i {
  margin: 0 7px;
  font-size: 14px;
}
.articles .articles__btn {
  background-color: #f9f9f9;
  width: 160px;
  height: 45px;
  border-radius: 55px;
  color: #5b9bf3;
  font-size: 15px;
  border: 1px solid #5b9bf3;
  text-align: center;
  display: block;
  margin: 40px auto;
  line-height: 45px;
}

/* footer */

.footer {
  background: url(../imgs/element1.png);
  background-repeat: no-repeat;
  background-position: 90% 0;
  padding-top: 70px;
}

.footer__container {
  background: url(../imgs/Group1.png), linear-gradient(to top, #5a98f2, #67c3f3);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  overflow: auto;
  padding: 50px;
}

.footer__container .site-desc {
  width: 40%;
  float: left;
}
.footer__container .site-desc a {
  display: inline-block;
  width: 45%;
}
.footer__container .site-desc p {
  width: 70%;
  font-size: 12px;
  color: white;
  margin-bottom: 15px;
}

.footer__container .list {
  float: left;
  width: 20%;
}
.list h4 {
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}

.list ul {
  list-style: none;
}

.list ul li {
  margin: 10px 0;
}

.list ul li a {
  font-size: 13px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.774);
}
